body{
    margin: auto;
    height: 90%;
    width: 100%;  
    border: 4px solid #fdcb6e;  
    border-left: none;
    border-right: none;
}
.title{
    height: 80%;
    width: 50%;
    margin-left: 20px;
}
.title h1{
    color: #981C1C;
}
.title h3{
    color: black;
}

